

<form action="checker" method="get">
  <input type="text" name= "userID" placeholder="userID"/>
  <input type="text" name= "password" placeholder="password"/>
</form>

<%= button_to 'Reset', password_valid_path, method: :get %>

<div >
  <%= @userID %> <br/>



</div>











<!-- <div >
  <%= @userID %> <br/>

</br/>
  <%= @password %>

</div> -->
